Flask
Flask-SocketIO
python-dotenv
requests
gunicorn
gevent
gevent-websocket
sqlalchemy
alembic
python-dateutil
jinja2
langchain
langchain-community
psycopg2-binary
langchain_openai
pandas
openai[datalib]
openai[voice_helpers]
reportlab
python-magic
pypdf
unstructured
openpyxl  
tabulate